<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Robin Goods</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <main>
    <div class="container">
      <div class="jumbotron text-center">
  <h1>User Page</h1>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <form action="javascript:add_item();" method="POST">
        <div class="form-group">
          <label>Add item</label>
          <input type="text" name="name" class="form-control" id="item_content" placeholder="content">
          <input type="text" name="name" class="form-control" id="item_parent"  placeholder="parent">
          <input type="text" name="name" class="form-control" id="item_media"  placeholder="media">
        </div>
        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary btn-lg">Post</button>
        </div>
      </form>
      <form action="javascript:delete_item();" method="DELETE">
        <div class="form-group">
          <label>Delete item</label>
          <input type="text" name="name" class="form-control" id="item_id" placeholder="id">
        </div>
        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary btn-lg">Delete</button>
        </div>
      </form>
      <form action="javascript:search();" method="POST">
        <div class="form-group">
          <label>search</label>
          <input type="text" name="name" class="form-control" id="timestamp" placeholder="timestamp">
          <input type="text" name="name" class="form-control" id="limit" placeholder="limit">
          <input type="text" name="name" class="form-control" id="q" placeholder="q">
          <input type="text" name="name" class="form-control" id="username" placeholder="username">
          <input type="text" name="name" class="form-control" id="following" placeholder="following">
          <input type="text" name="name" class="form-control" id="rank" placeholder="rank">
          <input type="text" name="name" class="form-control" id="parent" placeholder="parent">
          <input type="text" name="name" class="form-control" id="replies" placeholder="replies">
        </div>
        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary btn-lg">Search</button>
        </div>
      </form>
      <form action="javascript:follow();" method="POST">
        <div class="form-group">
          <label>Follow/Unfollow</label>
          <input type="text" name="name" class="form-control" id="follow-username" placeholder="username">
          <input type="text" name="name" class="form-control" id="follow" placeholder="follow/unfollow">
        </div>
        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
      </form>
      <form action="javascript:following();" method="GET">
        <div class="form-group">
          <label>Following</label>
          <input type="text" name="name" class="form-control" id="following-username" placeholder="username">
          <input type="text" name="name" class="form-control" id="follow-limit" placeholder="limit">
        </div>
        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary btn-lg">Search</button>
        </div>
      </form>
      <form action="javascript:follower();" method="GET">
        <div class="form-group">
          <label>Followers</label>
          <input type="text" name="name" class="form-control" id="follower-username" placeholder="username">
          <input type="text" name="name" class="form-control" id="follower-limit" placeholder="limit">
        </div>
        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary btn-lg">Search</button>
        </div>
      </form>
      <form action="javascript:like();" method="POST">
        <div class="form-group">
          <label>Tweet Like/Unlike</label>
          <input type="text" name="name" class="form-control" id="like" placeholder="like it or not">
          <input type="text" name="name" class="form-control" id="like-id" placeholder="id">
        </div>
        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary btn-lg">like/unlike</button>
        </div>
      </form>
      <form method="post" action="javascript:addmedia()">
        <div class="form-group">
          <label>Add Media</label>
          <input type="file" name="content" class="form-control" accept="video/*,image/*" id="media" placeholder="media">
          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
      </form>
    </div>
    <form action="javascript:logout();" method="POST">
        <button type="submit" class="btn btn-primary btn-lg">Log out</button>
    </form>
  </div>
</div>

    </div>
  </main>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="js/main.js"></script>
</html>
