<div class="jumbotron text-center">
  <h1>User Page</h1>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <form action="javascript:add_item();" method="POST">
        <div class="form-group">
          <label>Add item</label>
          <input type="text" name="name" class="form-control" id="item_content">
          <input type="file" name="name" class="form-control" id="item_media">
          <input type="text" name="name" class="form-control" id="item_parent">
        </div>
        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary btn-lg">Post</button>
        </div>
      </form>
      <form action="javascript:search();" method="POST">
        <div class="form-group">
          <label>search</label>
          <input type="text" name="name" class="form-control" id="timestamp" placeholder="timestamp">
          <input type="text" name="name" class="form-control" id="limit" placeholder="limit">
        </div>
        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary btn-lg">Search</button>
        </div>
      </form>
      <form action="javascript:follow();" method="POST">
        <div class="form-group">
          <label>Follow/Unfollow</label>
          <input type="text" name="name" class="form-control" id="username" placeholder="username">
          <input type="text" name="name" class="form-control" id="follow" placeholder="follow/unfollow">
        </div>
        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
      </form>
      <form action="javascript:addmedia();" method="POST">
        <div class="form-group">
          <label>Follow/Unfollow</label>
          <input type="file" name="name" class="form-control" id="media" placeholder="media">
        </div>
        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
      </form>
    </div>
    <form action="javascript:logout();" method="POST">
        <button type="submit" class="btn btn-primary btn-lg">Log out</button>
    </form>
  </div>
</div>
